.userDetails,
.welcomeWrapper {
  margin-bottom: 20px;
}

.welcomeWrapper,
.projects {
  display: grid;
  grid-template-columns: repeat(12, 1fr);
  grid-template-rows: 1fr;
  gap: 20px;
}

.welcomeWrapper > :nth-child(1) {
  grid-column: span 5;
}

.welcomeWrapper > :nth-child(2) {
  grid-column: span 7;
}

.projects > :nth-child(2),
.projects > :nth-child(1) {
  grid-column: span 12;
}

.welcomeWrapper > :nth-child(3) {
  grid-column: span 12;
}

@media screen and (max-width: 991px) {
  .projects > :nth-child(1) {
    grid-column: span 12;
  }

  .projects > :nth-child(2) {
    grid-column: span 12;
  }
}

@media screen and (max-width: 576px) {
  .welcomeWrapper > :nth-child(1) {
    grid-column: span 12;
  }
  .welcomeWrapper > :nth-child(2) {
    grid-column: span 12;
  }
}
