.sideBarWrapper {
  position: fixed;
  top: 10px;
  left: 0;
  height: calc(100% - 20px);
  overflow-y: auto;

  /* todo : fix the border radius to appear always  */
}

.sideBarWrapper::-webkit-scrollbar {
  width: 2px;
  /* todo : display the scrollbar  */
  display: none;
}

.sideBarWrapper::-webkit-scrollbar-thumb {
  background-color: #333;
  border-radius: 6px;
}

.sideBarWrapper::-webkit-scrollbar-track {
  background-color: #eee;
}

.sideBar {
  min-height: calc(100vh - 40px);
  margin-left: 10px;
  margin-block: 10px;
  padding: 20px;
  width: 270px;
  border-radius: 20px;
  background: linear-gradient(
    112deg,
    rgba(6, 11, 38, 0.94) 59.3%,
    rgba(26, 31, 55, 0) 100%
  );
  display: flex;
  flex-direction: column;
  justify-content: space-between;
  gap: 30px;
}

.logoWrapper {
  display: flex;
  justify-content: center;
  text-align: center;
  width: 100%;
}

.sideBar::-webkit-scrollbar-thumb,
.sideBarOpen::-webkit-scrollbar-thumb {
  background: var(--primary-black);
}

.categoryHeading {
  font-size: 1.5rem;
  color: #fff;
  font-weight: 400;
  margin-bottom: 20px;
}

.divider {
  margin-block: 40px 12px;
  background: #fff;
  width: 100%;
  height: 1px;
}

.linkWrapper,
.linkWrapperActive {
  display: flex;
  align-items: center;
  gap: 10px;
  padding: 12px 16px;
  margin-block: 10px;
  cursor: pointer;
  border-radius: 4px;
  border-radius: 15px;
  transition: all 0.3s ease;
}

.linkWrapperActive,
.linkWrapper:hover {
  color: #2196f3;
  background: #1a1f37;
}

.linkWrapperActive .iconWrapper,
.linkWrapper:hover .iconWrapper {
  background: #0075ff;
}

.linkWrapper .iconWrapper {
  background: #1a1f37;
}

.iconWrapper {
  transition: all 0.3s ease;

  display: flex;
  border-radius: 12px;
  padding: 8px;
  box-shadow: 0px 3.5px 5.5px 0px rgba(0, 0, 0, 0.02);
}

.linkWrapper svg {
  color: #0075ff;
}

.linkWrapperActive svg,
.linkWrapper:hover svg {
  color: #fff;
}

.linkWrapper svg,
.linkWrapperActive svg {
  width: 15px;
  height: 15px;
  transition: all 0.3s ease;
}

.linkWrapper a,
.linkWrapperActive a {
  color: #fff;
  font-size: 14px;
  font-style: normal;
  font-weight: 400;
  line-height: normal;
  text-decoration: none;
}

.sideBarBottom {
  background: url("../../../assets/images/sideBarBottomBG.png") center / cover
      no-repeat,
    #0075ff;
  border-radius: 15px;
  width: 100%;
  margin-top: auto;
  padding: 20px;
}

.help {
  background: #fff;
  padding: 7px;
  color: #0075ff;
  border-radius: 12px;
  display: flex;
  width: fit-content;
  margin-bottom: 20px;
}

.help svg {
  width: 27px;
  height: 25px;
}

.sideBarBottom h5 {
  color: var(--black-amp-white-white, #fff);
  font-size: 14px;
  font-weight: 700;
}

.sideBarBottom h6 {
  color: var(--black-amp-white-white, #fff);
  font-size: 12px;
  font-weight: 400;
  margin-block: 5px 15px;
}

.documentation {
  color: #fff;
  text-align: center;
  font-size: 10px;
  font-weight: 700;
  border-radius: 12px;
  background: linear-gradient(
    127deg,
    rgba(6, 11, 40, 0.74) 28.26%,
    rgba(10, 14, 35, 0.71) 91.2%
  );
  backdrop-filter: blur(5px);
  padding: 15px;
  transition: all 0.3s ease;
  cursor: pointer;
}

.documentation:hover {
  color: transparent;
}

.documentation:hover::after {
  content: "Coming Soon";
  display: block;
  position: absolute;
  color: white;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);
  font-size: 10px;
  opacity: 0;
  transition: opacity 0.3s ease;
}

.documentation:hover::after {
  opacity: 1;
}

.documentation:not(:hover) {
  transition: color 0.3s ease;
}
