.sideBarWrapper {
  position: fixed;
  top: 10px;
  left: 0;
  height: calc(100% - 20px);
  overflow-y: auto;
  
/* todo : fix the border radius to appear always  */
}

.sideBarWrapper::-webkit-scrollbar {
  width: 2px;
  /* display the scrollbar  */
  display: none;
}

.sideBarWrapper::-webkit-scrollbar-thumb {
  background-color: #333;
  border-radius: 6px;
}

.sideBarWrapper::-webkit-scrollbar-track {
  background-color: #eee;
}

.sideBar {
  min-height: calc(100vh - 40px);
  margin-left: 10px;
  margin-block: 10px;
  padding: 20px;
  width: 270px;
  border-radius: 20px;
  background: linear-gradient(
    112deg,
    rgba(6, 11, 38, 0.94) 59.3%,
    rgba(26, 31, 55, 0) 100%
  );
  display: flex;
  flex-direction: column;
  justify-content: space-between;
  gap: 30px;
}

.logoWrapper {
  display: flex;
  justify-content: center;
  text-align: center;
  width: 100%;
}

.sideBarBottom {
  background: url("../../../assets/images/sideBarBottomBG.png") center / cover
      no-repeat,
    #0075ff;
  border-radius: 15px;
  width: 100%;
  margin-top: auto;
  height: 200px;
}

.sideBar::-webkit-scrollbar-thumb,
.sideBarOpen::-webkit-scrollbar-thumb {
  background: var(--primary-black);
}

.categoryHeading {
  font-size: 1.5rem;
  color: #fff;
  font-weight: 400;
  margin-bottom: 20px;
}

.divider {
  margin-block: 40px 12px;
  background: #fff;
  width: 100%;
  height: 1px;
}

.linkWrapper,
.linkWrapperActive {
  display: flex;
  align-items: center;
  gap: 10px;
  padding: 12px 16px;
  margin-block: 10px;
  cursor: pointer;
  border-radius: 4px;
  border-radius: 15px;
  transition: all 0.3s ease;
}

.linkWrapperActive,
.linkWrapper:hover {
  color: #2196f3;
  background: #1a1f37;
}

.linkWrapperActive .iconWrapper,
.linkWrapper:hover .iconWrapper {
  background: #0075ff;
}

.linkWrapper .iconWrapper {
  background: #1a1f37;
}

.iconWrapper {
  transition: all 0.3s ease;

  display: flex;
  border-radius: 12px;
  padding: 8px;
  box-shadow: 0px 3.5px 5.5px 0px rgba(0, 0, 0, 0.02);
}

.linkWrapper svg {
  color: #0075ff;
}

.linkWrapperActive svg,
.linkWrapper:hover svg {
  color: #fff;
}

.linkWrapper svg,
.linkWrapperActive svg {
  width: 15px;
  height: 15px;
  transition: all 0.3s ease;
}

.linkWrapper a,
.linkWrapperActive a {
  color: #fff;
  font-size: 14px;
  font-style: normal;
  font-weight: 400;
  line-height: normal;
  text-decoration: none;
}

/* .sideBarWrapper {
  position: fixed;
  top: 10px;
  left: 10px;
  height: calc(100% - 20px);
  border-radius: 4px;
  background: red;
  width: 200px;
  overflow-y: auto;
}

.content {
  background: lime;
  height: 300vh;
  margin: 20px;
  padding: 20px;
  overflow-y: auto;
} */
