.welcome {
  background: url("../../../../../assets/images/welcomeBG.png") center / cover
    no-repeat;
  padding: 20px;
  border-radius: 20px;
  display: flex;
  flex-direction: column;
  justify-content: space-between;
}

.welcome h4 {
  font-weight: 700;
  line-height: normal;
}

.welcome p {
  font-size: 14px;
  font-weight: 400;
  line-height: normal;
  margin-top: 5px;
}

.record {
  color: #fff;
  font-size: 12px;
  font-weight: 400;
  line-height: normal;
  display: flex;
  gap: 8px;
  align-items: center;
}

.record svg {
  font-size: 15px;
  transition: all 0.3s ease;
}
