/*!********************************************************************************************************************************************************************************************************************************************************************************************!*\
  !*** css ./node_modules/next/dist/build/webpack/loaders/css-loader/src/index.js??ruleSet[1].rules[12].oneOf[7].use[2]!./node_modules/next/dist/build/webpack/loaders/postcss-loader/src/index.js??ruleSet[1].rules[12].oneOf[7].use[3]!./src/components/advanced/navbar/Navbar.module.css ***!
  \********************************************************************************************************************************************************************************************************************************************************************************************/
.Navbar_navBarWrapper__wNMQ_ {
  padding-top: 20px;
  margin-bottom: 1.875rem;
  transition: all 0.1s ease;
  position: relative;
}

.Navbar_navBarScrolled__i58RK,
.Navbar_navBarWrapper__wNMQ_ {
  display: flex;
  justify-content: space-between;
  align-items: center;
  gap: 20px;
  padding-inline: 15px;
}

.Navbar_navBarScrolled__i58RK {
  -webkit-backdrop-filter: blur(60px);
          backdrop-filter: blur(60px);
  position: fixed;
  z-index: 23;
  transition: box-shadow 300ms cubic-bezier(0.4, 0, 0.2, 1) 0ms;
  box-shadow: rgba(255, 255, 255, 0.9) 0rem 0rem 0.0625rem 0.0625rem inset,
    rgba(0, 0, 0, 0.05) 0rem 1.25rem 1.6875rem 0rem;
  -webkit-backdrop-filter: blur(2.625rem);
          backdrop-filter: blur(2.625rem);
  color: rgb(255, 255, 255);
  top: 0.75rem;
  right: 0px;
  width: calc(100% - 300px);
  min-height: 4rem;
  border-radius: 1.25rem;
  padding: 20px;
  background-color: transparent !important;
  border-color: rgba(226, 232, 240, 0.3) !important;
  margin-inline: 15px;
}

.Navbar_nav___3H5G {
  display: flex;
  gap: 20px;
  align-items: center;
}

.Navbar_searchFieldWrapper__bWNoR {
  padding: 10px;
  border-radius: 15px;
  border: 0.5px solid rgba(226, 232, 240, 0.3);
  background: #0f1535;
  display: flex;
  align-items: center;
  gap: 12px;
  transition: 0.3s all ease;
}

.Navbar_searchFieldWrapper__bWNoR svg {
  color: #2d3748;
  cursor: pointer;
  transition: 0.3s all ease;
}

.Navbar_searchFieldWrapper__bWNoR input {
  outline: none;
  background: transparent;
  border: none;
  color: #fff;
}

.Navbar_searchFieldWrapper__bWNoR input::placeholder {
  color: #a0aec0;
  font-size: 12px;
  font-weight: 400;
  line-height: normal;
}

.Navbar_searchFieldWrapper__bWNoR:focus-within {
  border: 0.5px solid rgba(226, 232, 240, 0.6);
}

.Navbar_signin__nQDUL,
.Navbar_navIcon___DXCY {
  cursor: pointer;
  color: #fff;
  transition: 0.3s all ease;
}

.Navbar_signin__nQDUL {
  display: flex;
  align-items: center;
  gap: 4px;
}

.Navbar_signin__nQDUL:hover,
.Navbar_navIcon___DXCY:hover,
.Navbar_searchFieldWrapper__bWNoR svg:hover {
  color: #0075ff;
}

.Navbar_signin__nQDUL svg,
.Navbar_navIcon___DXCY,
.Navbar_hamburger__MC9Qc,
.Navbar_hamburgerActive__lOKke {
  width: 15px;
  height: 15px;
}

.Navbar_signin__nQDUL p {
  font-size: 12px;
  font-weight: 400;
  line-height: normal;
}

.Navbar_hamburger__MC9Qc,
.Navbar_hamburgerActive__lOKke {
  display: none;
}

@media screen and (max-width: 768px) {
  .Navbar_navBarScrolled__i58RK {
    width: calc(100% - 20px);
    right: -5px;
  }

  .Navbar_hamburger__MC9Qc,
  .Navbar_hamburgerActive__lOKke {
    position: relative;
    z-index: 1670;
    cursor: pointer;
    display: block;
  }

  .Navbar_hamburger__MC9Qc span,
  .Navbar_hamburgerActive__lOKke span {
    display: block;
    width: 15px;
    height: 1px;
    background-color: #fff;
    margin: 3px 0;
    transition: all 0.3s ease;
  }

  .Navbar_hamburgerActive__lOKke span:nth-child(1) {
    transform: rotate(45deg) translate(2px, 2px);
  }

  .Navbar_hamburgerActive__lOKke span:nth-child(2) {
    opacity: 0;
  }

  .Navbar_hamburgerActive__lOKke span:nth-child(3) {
    transform: rotate(-45deg) translate(3.5px, -3.5px);
  }
}

@media screen and (max-width: 576px) {
  .Navbar_navBarScrolled__i58RK,
  .Navbar_navBarWrapper__wNMQ_ {
    justify-content: flex-end;
  }

  .Navbar_navBarScrolled__i58RK {
    padding: 15px;
  }

  .Navbar_nav___3H5G {
    gap: 10px;
  }

  .Navbar_signin__nQDUL p,
  .Navbar_title__y_i8J {
    display: none;
  }
}

/*!**********************************************************************************************************************************************************************************************************************************************************************************************!*\
  !*** css ./node_modules/next/dist/build/webpack/loaders/css-loader/src/index.js??ruleSet[1].rules[12].oneOf[7].use[2]!./node_modules/next/dist/build/webpack/loaders/postcss-loader/src/index.js??ruleSet[1].rules[12].oneOf[7].use[3]!./src/components/advanced/sidebar/Sidebar.module.css ***!
  \**********************************************************************************************************************************************************************************************************************************************************************************************/
.Sidebar_sideBarWrapper__hAL76 {
  left: 0;
  height: 100%;
  overflow-y: auto;
  position: relative;
}

.Sidebar_sideBar__U1Djb {
  position: fixed;
  width: 260px;
  height: calc(100vh - 20px);

  max-height: calc(100vh - 20px);
  overflow-y: auto;

  margin-left: 10px;
  margin-block: 10px;
  padding: 20px;
  border-radius: 20px;
  background: linear-gradient(
    112deg,
    rgba(6, 11, 38, 0.94) 59.3%,
    rgba(26, 31, 55, 0) 100%
  );
  display: flex;
  flex-direction: column;
  justify-content: space-between;
  gap: 30px;
}

.Sidebar_sideBar__U1Djb::-webkit-scrollbar {
  width: 2px;
  height: 85%;
}

.Sidebar_sideBar__U1Djb::-webkit-scrollbar-track {
  background-color: #f1f1f1;
}

.Sidebar_sideBar__U1Djb::-webkit-scrollbar-thumb {
  background-color: #888;
}

.Sidebar_logoWrapper___dt6R {
  display: flex;
  justify-content: space-between;
  align-items: center;
  text-align: center;
  width: 100%;
}

.Sidebar_hamburgerActive__kAkYL {
  display: none;
}

.Sidebar_categoryHeading__720B1 {
  font-size: 1.5rem;
  color: #fff;
  font-weight: 400;
  margin-bottom: 20px;
}

.Sidebar_divider__XcZs6 {
  margin-block: 40px 12px;
  background: #fff;
  width: 100%;
  height: 1px;
}

.Sidebar_linkWrapper__IObSR,
.Sidebar_linkWrapperActive__AyEF1 {
  display: flex;
  align-items: center;
  gap: 10px;
  padding: 12px 16px;
  margin-block: 10px;
  cursor: pointer;
  border-radius: 4px;
  border-radius: 15px;
  transition: all 0.3s ease;
}

.Sidebar_linkWrapperActive__AyEF1,
.Sidebar_linkWrapper__IObSR:hover {
  color: #2196f3;
  background: #1a1f37;
}

.Sidebar_linkWrapperActive__AyEF1 .Sidebar_iconWrapper__mdV1R,
.Sidebar_linkWrapper__IObSR:hover .Sidebar_iconWrapper__mdV1R {
  background: #0075ff;
}

.Sidebar_linkWrapper__IObSR .Sidebar_iconWrapper__mdV1R {
  background: #1a1f37;
}

.Sidebar_iconWrapper__mdV1R {
  transition: all 0.3s ease;

  display: flex;
  border-radius: 12px;
  padding: 8px;
  box-shadow: 0px 3.5px 5.5px 0px rgba(0, 0, 0, 0.02);
}

.Sidebar_linkWrapper__IObSR svg {
  color: #0075ff;
}

.Sidebar_linkWrapperActive__AyEF1 svg,
.Sidebar_linkWrapper__IObSR:hover svg {
  color: #fff;
}

.Sidebar_linkWrapper__IObSR svg,
.Sidebar_linkWrapperActive__AyEF1 svg {
  width: 15px;
  height: 15px;
  transition: all 0.3s ease;
}

.Sidebar_sideBarBottom__FRCD4 {
  background: url(/_next/static/media/sideBarBottomBG.303fcd41.png) center / cover
      no-repeat,
    #0075ff;
  border-radius: 15px;
  width: 100%;
  margin-top: auto;
  padding: 20px;
}

.Sidebar_help__HgLiO {
  background: #fff;
  padding: 7px;
  color: #0075ff;
  border-radius: 12px;
  display: flex;
  width: -moz-fit-content;
  width: fit-content;
  margin-bottom: 20px;
}

.Sidebar_help__HgLiO svg {
  width: 27px;
  height: 25px;
}

.Sidebar_sideBarBottom__FRCD4 h5 {
  color: var(--black-amp-white-white, #fff);
  font-size: 14px;
  font-weight: 700;
}

.Sidebar_sideBarBottom__FRCD4 h6 {
  color: var(--black-amp-white-white, #fff);
  font-size: 12px;
  font-weight: 400;
  margin-block: 5px 15px;
}

.Sidebar_documentation__ajulJ {
  color: #fff;
  text-align: center;
  font-size: 10px;
  font-weight: 700;
  border-radius: 12px;
  background: linear-gradient(
    127deg,
    rgba(6, 11, 40, 0.74) 28.26%,
    rgba(10, 14, 35, 0.71) 91.2%
  );
  -webkit-backdrop-filter: blur(5px);
          backdrop-filter: blur(5px);
  padding: 15px;
  transition: all 0.3s ease;
  cursor: pointer;
}

.Sidebar_documentation__ajulJ:hover {
  color: transparent;
}

.Sidebar_documentation__ajulJ:hover::after {
  content: "Coming Soon";
  display: block;
  position: absolute;
  color: white;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);
  font-size: 10px;
  opacity: 0;
  transition: opacity 0.3s ease;
}

.Sidebar_documentation__ajulJ:hover::after {
  opacity: 1;
}

.Sidebar_documentation__ajulJ:not(:hover) {
  transition: color 0.3s ease;
}

@media screen and (max-width: 768px) {
  .Sidebar_sideBarWrapper__hAL76 {
    border-radius: 20px;
  }

  .Sidebar_sideBar__U1Djb {
    padding: 15px;
  }

  .Sidebar_hamburgerActive__kAkYL {
    position: relative;
    cursor: pointer;
    display: block;
  }

  .Sidebar_hamburgerActive__kAkYL span {
    display: block;
    width: 15px;
    height: 1px;
    background-color: #fff;
    margin: 3px 0;
    transition: all 0.3s ease;
  }
  .Sidebar_hamburgerActive__kAkYL span:nth-child(1) {
    transform: rotate(45deg) translate(2px, 2px);
  }
  .Sidebar_hamburgerActive__kAkYL span:nth-child(2) {
    opacity: 0;
  }
  .Sidebar_hamburgerActive__kAkYL span:nth-child(3) {
    transform: rotate(-45deg) translate(3.5px, -3.5px);
  }
}

/*!**********************************************************************************************************************************************************************************************************************************************************************************************************!*\
  !*** css ./node_modules/next/dist/build/webpack/loaders/css-loader/src/index.js??ruleSet[1].rules[12].oneOf[7].use[2]!./node_modules/next/dist/build/webpack/loaders/postcss-loader/src/index.js??ruleSet[1].rules[12].oneOf[7].use[3]!./src/components/advanced/layoutWrapper/LayoutWrapper.module.css ***!
  \**********************************************************************************************************************************************************************************************************************************************************************************************************/
.LayoutWrapper_mainLayout__ptUz8 {
  display: flex;
  overflow: unset;
  background-image: url(/_next/static/media/mainLayoutBG.4d8a4218.png);
  background-color: #060b26;
  background-size: cover;
  min-height: 100dvh;
  background-position: center center;
  background-repeat: no-repeat;
  padding-bottom: 15px;
}

.LayoutWrapper_sideBar__5zf3W {
  width: 270px;
  margin-right: 0;
  border-right: 1px var(--divider) solid;
  overflow: hidden;
}

.LayoutWrapper_sideBar__5zf3W,
.LayoutWrapper_sideBarOpen__mdnQ4 {
  flex-shrink: 0;
}

.LayoutWrapper_contentNavBar__LoQ_D {
  width: 100%;
}

.LayoutWrapper_outlet__LRzGk {
  max-width: 1440px;
  margin-inline: auto;
  padding-inline: 15px;
}

@media screen and (max-width: 768px) {
  .LayoutWrapper_mainLayout__ptUz8 {
    display: block;
  }

  .LayoutWrapper_sideBar__5zf3W {
    transition: all 0.25s ease;
    opacity: 0;
    transform: translateX(-280px);
  }

  .LayoutWrapper_outlet__LRzGk {
    padding-inline: 10px;
  }

  .LayoutWrapper_sideBar__5zf3W,
  .LayoutWrapper_sideBarOpen__mdnQ4 {
    z-index: 999;
    position: fixed;
  }

  .LayoutWrapper_sideBarOpen__mdnQ4 {
    width: 280px;
    opacity: 1;
    transform: translateX(0px);
    transition: all 0.25s ease;
  }
}

