.titles {
  text-align: center;
}

.titles h6 {
  color: #a0aec0;
  font-weight: 400;
  margin-block: 5px 35px;
}

.fieldWrapper {
  display: flex;
  flex-direction: column;
  margin-bottom: 25px;
}

.fieldWrapper label {
  margin-bottom: 5px;
  color: #fff;
  font-size: 14px;
  font-weight: 400;
}

.fieldWrapper input {
  outline: none;
  border-radius: 20px;
  border: 2px solid #fff;
  background: linear-gradient(
    117deg,
    rgba(255, 255, 255, 0) -3.91%,
    rgba(255, 255, 255, 0.04) 75.27%
  );
  backdrop-filter: blur(21px);
  padding: 15px 20px;
  color: #fff;
}

.fieldWrapper input:focus-within {
  border: 2px solid #0075ff;
}

.switchWrapper {
  display: flex;
  align-items: center;
  gap: 12px;
}

.switchWrapper p {
  color: #fff;
  font-size: 12px;
  font-weight: 400;
  line-height: normal;
}

.submitBtn {
  border-radius: 12px;
  background: #0075ff;
  backdrop-filter: blur(60px);
  border: none;
  padding: 15px;
  width: 100%;
  color: #fff;
  cursor: pointer;
  margin-block: 35px 20px;
  transition: 0.3s all ease;
}

.submitBtn:hover {
  color: #0075ff;
  background: #fff;
}

.signupWrapper {
  color: #a0aec0;
  text-align: center;
  line-height: normal;
  font-size: 14px;
  font-weight: 400;
}

.signupWrapper span {
  color: #fff;
}
